#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:dmx="http://java.sun.com/jsf/composite/dmx"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta charset="utf-8"></meta>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>DEMUX Framework application</title>
        <h:outputStylesheet name="bootstrap/css/bootstrap.min.css" />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <h:outputScript name="bootstrap/js/bootstrap.min.js" />
    </h:head>
    <body>
        <h1>Welcome to DEMUX Framework</h1>
        <div>
            <p>
                This the default home page for DEMUX Framework JSF application. You can easily customize it for your own application. The page contains the following JSF Facelets code:
            </p>
            <pre>
                <code>
                    &lt;ui:remove&gt;
                        &lt;dmx:view viewId="mainView" /&gt;
                    &lt;/ui:remove&gt;
                </code>
            </pre>
            <p>
                This section represents the container for main view of this page. To use it in your application, simply remove <code>ui:remove</code> tags and set the value of <code>viewId</code> 
                attribute to the ID of your main view for this page.
            </p>
        </div>
        <ui:remove>
            <dmx:view viewId="mainView" />
        </ui:remove>
    </body>
</html>