#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!--
 This is basic header component for DEMUX Framework JSF templates.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition>
        &${symbol_pound}169; DEMUX Framework. All rights reserved.
    </ui:composition>
</html>
