#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!--
This is basic DEMUX Framework JSF template based on Bootstrap library.
It contains 3 sections: header, content and footer. Footer is fixed at 
the bottom of the page.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>Hello, DEMUX!</title>

        <h:outputStylesheet name="bootstrap/css/bootstrap.min.css" />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <h:outputScript name="bootstrap/js/bootstrap.min.js" />
        <style type="text/css">
            html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      ${symbol_pound}wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      ${symbol_pound}push,
      ${symbol_pound}footer {
        height: 60px;
      }
      ${symbol_pound}footer {
        background-color: ${symbol_pound}f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        ${symbol_pound}footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
        </style>
    </h:head>
    <h:body>
        <div id="wrap">
            <div class="container">
                <div class="page-header" id="header">
                    <ui:insert name="header">
                        <ui:include src="/WEB-INF/templates/base-header.xhtml" />
                    </ui:insert>
                </div>


                <div id="content">
                    <p>Body content goes here.</p>
                </div>
            </div>
            <div id="push"></div>
        </div>

        <!-- Begin footer -->
        <div id="footer">
            <div class="container">
                <ui:insert name="footer">
                    <ui:include src="/WEB-INF/templates/base-footer.xhtml" />
                </ui:insert>
            </div>
        </div>
    </h:body>
</html>
